html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: Kumbh Sans;
    font-size: 16px;
}

.main {
    background-color: white;
    border-radius: 15px;
    margin: 40px 20px 20px 20px;
    padding: 15px;
}

.graphic-site {
    /* position: absolute; */
    flex-wrap: wrap;
    justify-content: center;
}

.faq-heading {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
}

.question {
    padding: 10px;
}

.accordion {
    background: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-family: Kumbh Sans;
    font-size: 16px;
    /* font-weight: bold; */
}

.active {
    font-weight: bold;
}

.panel {
padding: 0 10px;
display: none;
overflow: hidden;
}

.svg-arrow {
    float: right;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
